mat-card {
  width: 250px;
  height: 60px;
  top: 60px;
  left: 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.mat-card > :first-child {
  margin-top: -10px;
  border-radius: 5px;
  height: 80px;
  width: 70px;
  background: rgb(240, 235, 235);
}

.inner-mat-card {
  margin: 0% 10% 0% 75%;
}
